<form [formGroup]="usuarioForm">
    <ng-container formGroupName="informacoesContato">
        <ng-container formArrayName="listaDeEnderecos">
            @for (endereco of listaEndereco.controls; track endereco) {
                <ng-container [formGroupName]="$index">
                    <div class="my-4 grid sm:grid-cols-2 sm:gap-4 lg:grid-cols-6 lg:gap-4">
                        <mat-form-field class="w-full">
                            <mat-label>Tipo:</mat-label>
                            <input matInput formControlName="tipoDescricao">
                        </mat-form-field>
                        <mat-form-field class="w-full">
                            <mat-label>Logradouro:</mat-label>
                            <input matInput formControlName="logradouro">
                            <mat-error>O Logradouro é obrigatório.</mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-full">
                            <mat-label>Complemento:</mat-label>
                            <input matInput formControlName="complemento">
                            <mat-error>O Complemento é obrigatório.</mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-full">
                            <mat-label>País:</mat-label>
                            <input matInput formControlName="pais">
                            <mat-error>O País é obrigatório.</mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-full">
                            <mat-label>Estado:</mat-label>
                            <input matInput formControlName="estado">
                            <mat-error>O Estado é obrigatório.</mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-full">
                            <mat-label>Cidade:</mat-label>
                            <input matInput formControlName="cidade">
                            <mat-error>O Cidade é obrigatório.</mat-error>
                        </mat-form-field>
                    </div>
                    <hr class="block lg:hidden"/>
                </ng-container>            
            }
        </ng-container>        
    </ng-container>    
</form>