<mat-tab-group [(selectedIndex)]="indiceAbaAtual">
    <mat-tab>
        <ng-template mat-tab-label>
            Geral
            @if (emModoEdicao && !informacoesGeralValido) {
                <mat-icon class="red-circle-icon" color="warn">circle</mat-icon>
            }
        </ng-template>
        @if(!emModoEdicao){
            <app-informacoes-geral [usuario]="usuarioSelecionado"> </app-informacoes-geral>
        }
        @else{
            <app-informacoes-geral-editar [usuarioForm]="usuarioForm" [listaPaises]="listaPaises" [listaEstados]="listaEstados" (paisSelecionadoEmit)="paisSelecionado($event)"/>
        }
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            Contato
            @if (emModoEdicao && !informacoesContatoValido) {
                <mat-icon class="red-circle-icon" color="warn">circle</mat-icon>
            }
        </ng-template>
        @if(!emModoEdicao){
            <app-informacoes-contato [usuario]="usuarioSelecionado"/>
        }
        @else {
            <app-informacoes-contato-editar [usuarioForm]="usuarioForm"/>
        }
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            Dependente
            @if (emModoEdicao && !listaDeDependentesValido) {
                <mat-icon class="red-circle-icon" color="warn">circle</mat-icon>
            }
        </ng-template>
        @if(!emModoEdicao){
            <app-lista-dependentes [listaDependentes]="usuarioSelecionado.listaDeDependentes"/>
        }
        @else{
            <app-lista-dependentes-editar [usuarioForm]="usuarioForm" (removerDependenteEmitt)="removerDependente($event)" (AdicionarDependenteEmitt)="adicionarDependente()"/>
        }
    </mat-tab>
</mat-tab-group>

