<div class="p-4 max-w-screen-xl mx-auto">
    <mat-card>
        <mat-card-content>
            <app-lista-de-usuarios [listaDeUsuarios]="listaDeUsuarios" [modoEdicao]="modoEdicao"  (usuarioSelecionado)="obterUsuarioSelecionado($event)"/>
            @if(indexUsuarioSelecionado != undefined){
                <app-container-botoes 
                    [modoEdicao]="modoEdicao" 
                    (botaoEditar)="metodoBotaoEditar()" 
                    (botaoCancelar)="metodoBotaoCancelar()"
                    [habilitarBotaoSalvar]="habilitarBotaoSalvar"/>           
                
                <app-container-informacoes-usuario [usuarioSelecionado]="usuarioSelecionado" [emModoEdicao]="modoEdicao" (formStatusChangeEmitt)="formStatusChange($event)"/>
            }
        </mat-card-content>
    </mat-card>
</div>